/*die ganze HTML-Datei, der Body bereich*/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/*die ganze HTML-Datei*/
html { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 15px; 
    font-style: normal;
}

/*die ganze Kopfzeile*/
header {
    width: 100%;
    height: auto;
}

/*Überschrift neben dem Zurück-Pfeil*/
header p{
    margin-block-start: 32px;
    margin-left: 32px;
    font-size: 21px;
}

/*Pfeil für Zurück*/
header button {
    height: 32px;
    width: auto;
    background-color: #450404;
    border: 0px;
    float: left;
    margin-top: 26.5px;
    margin-left: 6px;
}

/*hintergrundfarbe für den body bereich*/
body {
    background-color:#450404 ;
}

/*Fußzeile*/
footer {
    position: fixed;
    bottom:0;
    width: 100%;
    height: 140px;
}

/*Fußzeile für die drei Buttons*/
footer button {
    height: 100%;
    width: 33.3%;
    margin: 0;
    border:0;
    background-color: #FFFFFF;
    float: left;
}

/*Fußzeile Button icons*/
footer button img {
    margin-top: 22px;
    height: 38px;
    width: auto;
}

/*Fußzeile Button Beschriftung*/
footer button p {
    color: #9F5454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 15px; 
    font-style: normal;
}

/*Der Textausgabe-Bereich*/
section { 
    background-color: #9F5454;
    margin-top: 32px;
    margin-left: 32px;
    margin-right: 32px;
    text-align: auto;
    width: auto;
    height: auto;
    border-radius: 8px;
}

/*Der Textausgabe-Bereich Text*/
section span p { 
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

/*Textausgabe Löschen, Kopieren Buttons*/
section button{
    border-width: 0px;
    height: 40px;
    border-bottom-left-radius:8px ;
}

/*Weiße Bereich unter der Textausgabe*/
section div {
    height: 40px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/*Textausgabe Bereich - Datum*/
section div p {
    float: right;
    color: #9F5454;
    margin-top: 12px;
    padding-right: 16px;
}